body {
  padding: 30px;
}
.repo-name {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase
}
.user-details {
  margin: 30px auto;
  background: #eee;
  padding: 20px;
  display: inline-block
}
.filter-selection {
  float: left;
  width: 20%;
  margin: 30px;
}
.user-details img{
  height: auto;
  width: 500px
}
.filter-selection button{
    margin: 20px 10px 0
}
.user-results {
  clear: both;
  text-align: center
}
.filter-selection select {
  width: 200px;
}
.filter-option{
  background: #eee;
  overflow: auto;
  padding: 0 50px
}
.employee-details{
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}
label, strong{
  display: inline-block !important;
  text-transform: uppercase
}
.filter-selection label{
  display: block !important
}
.h1, h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .filter-selection select, .filter-selection{
    width: 100%
  }
  .filter-selection{
    margin: 10px;
  }
  .user-details img{
    width: 250px;
  }
}